body {
  overflow-x: hidden;
}
.notice {
  border: 1px solid red;
  background-color: red;
  height: 30px;
}
.notice ul li {
  position: relative;
  list-style-type: none;
  display: inline;
  padding: 100px;
  color: white;
  animation: slide 8s linear infinite;
}

@keyframes slide {
  from {
    left: -100%;
  }
  to {
    left: 100%;
  }
}
.maindiv {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo img {
  max-width: 250px;
}
.icons {
  position: relative;
  left: 400px;
}
.dropdown:hover .dropdown-menu {
  display: block;
}
.herobanner img {
  width: 100%;
  display: block;
}
.belowHero {
  background-color: lightgray;
  text-align: center;
  padding: 10px;
}
.brand {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.line {
  width: 40%;
  height: 1px;
  background-color: #ccc;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-left: 20px;
  margin-right: 20px;
}

.belowHero1 {
  background-color: black;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.belowHero1 span {
  color: white;
  padding: 10px;
  text-align: center;
}
.fouricons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 100px;
}
.i1 {
  width: 10%;
}
