#imp {
  color: red;
  padding-left: 10px;
}
#first {
  background: #fef8d5;
}
.listItem ul li {
  display: inline;
  list-style-type: none;
  padding-right: 10px;
}
.listItem ul li a {
  color: gray;
  font-size: 20px;
  padding-right: 10px;
}

/* Hide the dropdown menu by default */
.dropdown:hover .dropdown-menu {
  display: block;
}
.herobanner {
  position: relative;
}
#tabs {
  /* border: 2px solid red; */
  position: relative;
  bottom: 82px;
}
#tabs1 {
  height: 80px;
}
.col-3 {
  /* border: 2px solid red; */
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
}
.col-3:hover {
  background: #aa9113;
}
.col-3 i {
  padding: 10px;
  color: white;
  font-size: 40px;
}
.col-3 span {
  padding: 10px;
  color: white;
  font-size: 30px;
}
#travelBox {
  border: 1px solid red;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.innerbox1 {
  border: 2px solid lightgray;
  height: 85px;
  width: 364px;
}
.innerbox2 {
  border: 2px solid lightgray;
  height: 85px;
  width: 364px;
}
#button1 {
  margin-left: 20px;
  height: 85px;
  width: 220px;
  text-align: center;
  padding: 27px;
  background-color: hsl(135, 49%, 61%);
}
