<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css"
      integrity="sha384-pzjw8F+UAwjhmUwPXdEJ8MYUdCA0jU7uYzPjxWgZqOwSaDpv2gB1Ym5C3jCaJ4gl"
      crossorigin="anonymous"
    />

    <title>About</title>
  </head>
  <body>
    <%- include('./partials/navbar.ejs') %>
    <div class="container">
      <h1>About Us</h1>
      <p>
        Welcome to our website. We are a team of professionals dedicated to
        providing high-quality products and services to our customers.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum at
        urna ut ligula vulputate posuere ac a orci. Curabitur tincidunt, enim
        vel tempor luctus, magna quam iaculis metus, at bibendum mauris ipsum
        sed felis.
      </p>
      <p>
        Nulla consectetur quam sed feugiat sagittis. Quisque bibendum, dui nec
        lobortis finibus, ipsum leo lacinia nisi, non tincidunt nulla nisl at
        felis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
        posuere cubilia Curae; Nunc sollicitudin tellus vitae luctus finibus.
      </p>
    </div>

    <!-- Bootstrap JS -->
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/js/bootstrap.min.js"
      integrity="sha384-zrR/KAzruSbtbrJhNT26SYIEfQTPh/g5Mpfmg5Kna6wUe2hM5XvO7Kudmif7Oo8H"
      crossorigin="anonymous"
    ></script>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
